.wrap {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgb(252, 252, 252);
  width: 90%;
  margin: 2px auto;
  font-family: Arial, sans-serif;
  text-align: justify;
}

/*bagian header*/
.header {
  background: rgb(230, 230, 230);
  text-align: left;
  color: #aaa;
  /*height: 100px;*/
  padding: 2px 16px;
}

/*akhir header*/

/*bagian menu*/

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 90, 170);
}

.menu ul li {
  float: left;
  list-style-type: none;
  padding: 0px;
}
.menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu ul li a:hover:not(.active) {
  background-color: rgb(0, 120, 190);
}

.active {
  background-color: rgb(0, 120, 210);
}

/*akhir menu*/

.badan_atas {
  padding: 8px 16px;
  background: rgb(186, 186, 186);
}

.badan_atas h2 {
  color: #444;
}

.btn {
  background-color: rgb(0, 100, 200);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}

.btn:hover:not(.active) {
  background-color: rgb(0, 150, 190);
}

.badan {
  padding-top: 10px;
  background: rgb(252, 252, 252);
}

.content p {
  padding: 8px 16px;
}

.content {
  float: left;
  width: 80%;
  text-align: center;
  padding: 2px;
}

.content h3 {
  font-weight: bolder;
}
.content img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.materi {
  float: left;
  width: 32%;
  padding: 10px 2px;
}
.materi2 {
  clear: both;
  text-align: justify;
  padding: 10px 2px;
  border-top: 1px solid#ddd;
}

.materi2 h3 {
  font-weight: bolder;
  padding: 14px 16px;
}

.materi2 img {
  border-radius: 10%;
  padding: 10px;
  width: 150px;
  height: 150px;
}

#imgcontent1 {
  float: left;
}
#imgcontent2 {
  float: right;
}

/*bagian sidebar*/
.sidebar {
  float: right;
  width: 15%;
  height: 100%;
  padding: 8px 16px;
}

.sidebar h3 {
  color: #fff;
  padding: 8px 16px;
  margin: 0px;
  background-color: rgb(0, 120, 190);
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(252, 252, 252);
  border: 1px solid #ddd;
}

.sidebar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.sidebar li {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.sidebar li:last-child {
  border-bottom: none;
}
/*
.sidebar li a.active {
  background-color: #04aa6d;
  color: white;
}
*/
.sidebar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar_bawah {
  border: 1px solid #ddd;
  display: table;
}

.sidebar_text {
  padding: 8px 16px;
}

/*akhir sidebar*/

.footer {
  width: 98%;
  color: #fff;
  background-color: #000;
  padding: 8px 16px;
}

.clear {
  clear: both;
}
